body
{
    background-color: white;
}
table, tr, td {
    border: 1px solid black;
    width: 50%;
    padding: auto;
}
caption{
    text-emphasis:15px;
}
h3{
    text-align: center;
    font-size: 50px;
}
ul {
    background-color: #333333;
    margin: 2px;
    padding: 2px;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}
li a{
      text-align: center;
      text-decoration: double;
      display: block;
      color: white;
      padding: 16px;
      
}
